.form-container {
	position: relative;
	top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-entry {
	padding: 20px;
	border: black 1px solid;
}

.form-entry div {
	display: flex;
}
.form-entry div input {
	flex: 1;
}
.form-entry div label {
	flex: 1;
	text-align: start;
	padding-right: 5px;
}
